*, ::before, ::after {box-sizing: border-box;}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
section {
    padding: 25px;
    height: min-content;
}
.big {
    font-size: 40px;
    line-height: 57px;
}
.medium {
    font-size: 20px;
    line-height: 30px;
}
.credit {
    font-size: 20px;
    line-height: 30px;
}
.timestamp {
    opacity: .5;
}
a {
    color: #000;
    /* text-decoration: none; */
}
.yellow {
    background: yellow;
}
.blue {
    background: #31e22b;
}
@media (max-width: 600px) {
    .big {
        font-size: 20px;
        line-height: 35px;
    }
    .credit {
        font-size: 14px;
        line-height: 20px;
    }
}